<header class="header-container">
  <div class="dashboard-title">
    <span class="header-buttons"
          [ngClass]="{'active': this.activePage==='dashboard'}"
          (click)="navigateToDashboard('dashboard')">Dashboard</span>
    <span class="header-buttons"
          [ngClass]="{'active': this.activePage==='home'}"
          (click)="navigateToHome('home')">Home</span>
  </div>
  <div class="logo-container">
    <img src="../../assets/logo.svg">
  </div>
</header>
