@import "~src/styles/app-colors";

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  padding: 20px;
  background-color: $primary-color;

  .dashboard-title {
    .header-buttons {
      font-size: 28px;
      font-weight: 500;
      color: $base-color;
      cursor: pointer;

      @media only screen and (max-width: 600px) {
        font-size: 18px;
      }
    }

    .header-buttons:first-child {
      margin-right: 30px;

      @media only screen and (max-width: 600px) {
        margin-right: 15px;
      }
    }

    .active {
      border-bottom: 2px solid $button-color;
    }
  }

  .logo-container {
    display: flex;
    justify-content: flex-end;
  }
}
