<footer class="footer">
  <div nz-row
       class="footer-columns"
       [nzGutter]="{ xs: 8, sm: 16, md: 24}">
    <div nz-col
         class="gutter-row"
         nzXs="12"
         nzSm="12"
         nzMd="6">
      <div class="inner-box company-information">
        <img src="../../assets/logo.svg"
             class="ns1-logo">
        <a>About Us</a>
        <a>Company Blog</a>
        <a>Scala Hosting Reviews</a>
        <a>Network and Datacenters</a>
        <div class="social-media">
          <a nz-icon
             nzType="facebook"
             nzTheme="outline"
             class="social-icons"
             href="https://www.facebook.com/ns1.bg"
             title="Go to our FB page"></a>
          <a nz-icon
             nzType="twitter"
             nzTheme="outline"
             class="social-icons"
             title="Go to our Twitter"></a>
          <a nz-icon
             nzType="global"
             nzTheme="outline"
             class="social-icons"
             href="https://www.ns1.bg/blog/"
             title="Go to our blog"></a>
          <a nz-icon
             nzType="contacts"
             nzTheme="outline"
             class="social-icons"
             href="https://www.ns1.bg/about/contact-us.php"
             title="Go to contact us page"></a>
        </div>
      </div>
    </div>
    <div nz-col
         nzXs="12"
         nzSm="12"
         nzMd="18">
      <div class="responsive row-two"
           nz-row>
        <div nz-col
             class="gutter-row"
             nzXs="24"
             nzSm="24"
             nzMd="8">
          <div class="inner-box">
            <p>Hosting Services</p>
            <a *ngFor="let service of hostingServices">{{service.name}}</a>
          </div>
        </div>
        <div nz-col
             class="gutter-row"
             nzXs="24"
             nzSm="24"
             nzMd="8">
          <div class="inner-box">
            <p>App Hosting</p>
            <a *ngFor="let service of appHosting">{{service.name}}</a>
          </div>
        </div>
        <div nz-col
             class="gutter-row"
             nzXs="24"
             nzSm="24"
             nzMd="8">
          <div class="inner-box">
            <p>Additional Services</p>
            <a *ngFor="let service of additionalServices">{{service.name}}</a>
            <div class="customer-info">
              <p>Customer Support</p>
              <a>{{customerInfo.contacts}}</a>
              <a>{{customerInfo.clientAria}}</a>
              <a>{{customerInfo.knowledge}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <nz-divider></nz-divider>

  <div class="footer-row"
       nz-row>
    <div class="left-side"
         nzXs="24"
         nzSm="12"
         nzMd="12">
      <p>© 2007-2020 NS1. All rights reserved.</p>
    </div>
    <div class="right-side"
         nzXs="8"
         nzSm="12"
         nzMd="6">
      <a>Privacy Policy</a>
      <a>Terms of Service</a>
      <img class="dmca-logo"
           src="../../assets/DMCA_logo-v2.png">
    </div>
  </div>
</footer>
