@import "~src/styles/app-colors";

.footer {
  margin: 50px 70px;

  @media only screen and (max-width: 600px) {
    margin: 20px 10px;
  }

  .footer-columns {
    width: 100%;

    .gutter-row {
      display: flex;
      justify-content: center;

      .inner-box,
      .inner-box .customer-info {
        display: flex;
        flex-direction: column;

        .ns1-logo {
          width: 26%;
          padding-bottom: 30px;
        }

        .social-media {
          display: flex;
          justify-content: space-between;
          margin-top: 16px;

          .social-icons {
            font-size: 30px;
            cursor: pointer;
            color: $base-color;
          }

          .social-icons:hover {
            color: $primary-color;
          }
        }
      }
    }

    .inner-box.company-information {
      @media only screen and (max-width: 600px) {
        align-items: center;
      }
    }

    p {
      font-size: 24px;
      color: $primary-color;
      font-weight: 500;
    }

    .customer-info {
      padding-top: 30px;
    }
  }

  .footer-row {
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: 600px) {
      justify-content: center;
    }

    .right-side {
      display: flex;
      justify-content: space-between;

      .dmca-logo {
        width: 26%;
      }
    }
  }

  a {
    color: $primary-color;
    font-size: 14px;
    padding-bottom: 8px;
  }

  a:hover {
    text-decoration: underline;
  }
}
