<div class="table-container">
  <nz-table #affilatesTable
            [nzData]="this.affiliates"
            nzSize="small"
            nzTableLayout="auto"
            nzTitle="Affiliates information"
            [nzBordered]="true"
            [nzFrontPagination]="true"
            [nzShowSizeChanger]="true">
    <thead>
      <tr>
        <th nzColumnKey="name"
            [nzSortFn]="sortName">Name</th>
        <th nzColumnKey="partnershipDate"
            class="table-column"
            [nzSortFn]="sortPartnershipDate">Partnership start date</th>
        <th nzColumnKey="users"
            class="users"
            [nzSortFn]="sortUsers">Users</th>
        <th nzColumnKey="refusedUsersPerMonth"
            class="table-column"
            [nzSortFn]="sortRefusedUsers">Refused users per month</th>
        <th nzColumnKey="newUsersPerMonth"
            class="table-column"
            [nzSortFn]="sortNewUsersPerMonth">New users per month</th>
        <th nzColumnKey="profitsPerMonth"
            class="table-column"
            [nzSortFn]="sortProfits"
            nzSortOrder="descend">Profits from new users per month</th>
        <th nzColumnKey="commision"
            class="table-column"
            [nzSortFn]="sortCommision">Total commision per month</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of affilatesTable.data">
        <td>{{ data.name }}</td>
        <td>{{ data.partnershipDate | date: 'MMM d, y' }}</td>
        <td>{{ data.users }}</td>
        <td>{{ data.refusedUsersPerMonth }}</td>
        <td>{{ data.newUsersPerMonth }}</td>
        <td>{{ data.profitsPerMonth.toFixed(2) + ' $' }}</td>
        <td>{{ data.commision.toFixed(2) +' $'}}</td>
      </tr>
    </tbody>
  </nz-table>
</div>
