@import "~src/styles/app-colors";

.user-comments-container {
  .carousel {
    text-align: center;
    height: 100px;
    background: rgb(95, 168, 211);
    background: linear-gradient(
      52deg,
      rgba(95, 168, 211, 1) 35%,
      rgba(27, 73, 101, 0.7418656938531425) 100%
    );
    color: #fff;
    overflow: hidden;

    .comment-card {
      display: flex;
      justify-content: center;
      border-radius: 10%;
      padding-top: 30px;

      .nz-card {
        width: 580px;

        p {
          margin: 0px;
        }
      }

      .dateAndVote {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}
