<div class="user-comments-container">
  <nz-carousel nzAutoPlay>
    <div nz-carousel-content
         class="carousel"
         *ngFor="let comment of userComments">
      <div class="comment-card">
        <nz-card class="nz-card"
                 [nzTitle]="comment.name">
          <p> {{comment.description}}</p>
          <div class="dateAndVote">
            <p>{{comment.date | date: 'MMM d, y'}}</p>
            <nz-rate [ngModel]="comment.vote"
                     nzDisabled></nz-rate>
          </div>
        </nz-card>
      </div>
    </div>
  </nz-carousel>
</div>
