<div class="login-container">
  <form class="login-form"
        #form="ngForm"
        [formGroup]="loginForm"
        (ngSubmit)="submitForm(form)">
    <label>
      Name:
      <input type="text"
             formControlName="username">
      <div class="validations">
        <p
           *ngIf="!this.loginForm.controls['username'].untouched  && this.loginForm.controls['username'].hasError('required')">
          Username is required!</p>
      </div>
    </label>
    <label>
      Password:
      <input type="password"
             formControlName="password">
      <div class="validations">
        <p
           *ngIf="!this.loginForm.controls['password'].untouched  && this.loginForm.controls['password'].hasError('required')">
          Password is required!</p>
      </div>
    </label>
    <button type="submit">Submit</button>
  </form>
</div>
