@import "~src/styles/app-colors";

.login-container {
  display: flex;
  justify-content: center;

  .login-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 20px 50px;
    label {
      padding-bottom: 10px;
    }

    .validations {
      display: flex;
      justify-content: flex-end;
    }

    p {
      color: red;
    }

    button:last-child {
      cursor: pointer;
      background-color: $button-color;
      border-radius: 5px;
      border: 0px;
      padding: 5px 10px;
      color: white;
    }
  }
}
