<div class="nav-container">
  <ul nz-menu
      class="menu"
      nzMode="inline"
      nzTheme="dark"
      [nzSelectable]="false">
    <li nz-submenu
        nzTitle="Profile"
        nzIcon="user"
        [nzOpen]="true">
      <ul>
        <li nz-menu-item>{{loggedAdmin.name}}</li>
        <li nz-menu-item>{{loggedAdmin.role}}</li>
      </ul>
    </li>
  </ul>

  <ul nz-menu
      class="menu"
      nzMode="inline"
      nzTheme="dark">
    <li nz-submenu
        [nzOpen]="false"
        nzTitle="Settings"
        nzIcon="setting">
      <ul>
        <ul>
          <li nz-menu-item>Upload avatar</li>
          <li nz-menu-item>Change password</li>
        </ul>
      </ul>
    </li>
  </ul>

  <ul nz-menu
      class="menu"
      nzMode="inline"
      nzTheme="dark">
    <li nz-submenu
        [nzOpen]="false"
        nzTitle="Affiliate programs"
        nzIcon="ungroup">
      <ul>
        <li nz-menu-item>Add new program</li>
        <li nz-menu-item>Аnnual report</li>
      </ul>
    </li>
  </ul>
</div>
