<div class="application-container">
  <div class="steps">
    <p [ngClass]="{'active': this.applicationStep==='firstStep'}">1</p>
    <p [ngClass]="{'active': this.applicationStep==='secondStep'}">2</p>
    <p [ngClass]="{'active': this.applicationStep==='thirdStep'}">3</p>
  </div>
  <div class="forms-wrapper">
    <form *ngIf="this.applicationStep==='firstStep'"
          class="application-steps"
          #firsForm="ngForm"
          [formGroup]="firstAplicationForm"
          (ngSubmit)="submitFirstApplicationStep(firsForm)">
      <label>
        First name:
        <input type="text"
               formControlName="firstName">
        <div class="validations">
          <p
             *ngIf="!this.firstAplicationForm.controls['firstName'].untouched  && this.firstAplicationForm.controls['firstName'].hasError('required')">
            First name is required!</p>
        </div>
      </label>
      <label>
        Last name:
        <input type="text"
               formControlName="lastName">
        <div class="validations">
          <p
             *ngIf="!this.firstAplicationForm.controls['lastName'].untouched  && this.firstAplicationForm.controls['lastName'].hasError('required')">
            Last name is required!</p>
        </div>
      </label>
      <label>
        Email:
        <input type="email"
               formControlName="email">
        <div class="validations">
          <p
             *ngIf="!this.firstAplicationForm.controls['email'].untouched  && this.firstAplicationForm.controls['email'].hasError('required')">
            Email is required!</p>
          <p
             *ngIf="!this.firstAplicationForm.controls['email'].untouched  && this.firstAplicationForm.controls['email'].hasError('email') ">
            Email should be valid!</p>
        </div>
      </label>
      <button type="submit"
              class="form-buttons"
              [disabled]="!this.firstAplicationForm.valid">Next</button>
    </form>


    <form *ngIf="this.applicationStep==='secondStep'"
          class="application-steps"
          #secondForm="ngForm"
          [formGroup]="secondApplicationForm"
          (ngSubmit)="submitSecondApplicationStep(secondForm)">
      <label>
        Website:
        <input type="text"
               formControlName="website">
        <div class="validations">
          <p
             *ngIf="!this.secondApplicationForm.controls['website'].untouched  && this.secondApplicationForm.controls['website'].hasError('required')">
            Website is required!</p>
        </div>
      </label>
      <label>
        PayPal:
        <input type="email"
               formControlName="payPal">
        <div class="validations">
          <p
             *ngIf="!this.secondApplicationForm.controls['payPal'].untouched  && this.secondApplicationForm.controls['payPal'].hasError('required')">
            PayPal is required!</p>
          <p
             *ngIf="!this.secondApplicationForm.controls['payPal'].untouched  && this.secondApplicationForm.controls['payPal'].hasError('email') ">
            Email should be valid!</p>
        </div>
      </label>
      <label class="description-label">Describe how you intend to promote Us? <textarea type="text"
                  formControlName="description">
              </textarea>
        <div class="validations">
          <p
             *ngIf="!this.secondApplicationForm.controls['description'].untouched  && this.secondApplicationForm.controls['description'].hasError('required')">
            Description is required!</p>
        </div>
      </label>
      <div class="application-buttons">
        <button (click)="onClickPreviousBtn()"
                class="form-buttons">Previous</button>
        <button type="submit"
                class="form-buttons"
                [disabled]="!this.secondApplicationForm.valid">Next</button>
      </div>
    </form>

    <div *ngIf="this.applicationStep==='thirdStep'"
         class="third-step">
      <img src="./assets/congrats.png">
      <h4>Your application has been completed successfully! We will send you more information about the process!</h4>
    </div>
  </div>
</div>
