@import "~src/styles/app-colors";

.application-container {
  .forms-wrapper {
    display: flex;
    justify-content: center;

    .application-steps {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding: 20px 50px;
      label {
        padding-bottom: 10px;
        textarea {
          width: 264px;
          height: 100px;
        }
      }

      .validations {
        display: flex;
        justify-content: flex-end;
      }
      p {
        color: red;
      }

      .description-label {
        display: flex;
        align-items: center;
      }
    }

    .application-buttons {
      display: flex;
      width: 100%;
      justify-content: space-between;
    }

    .form-buttons {
      cursor: pointer;
      background-color: $button-color;
      border-radius: 5px;
      border: 0px;
      padding: 5px 10px;
      color: white;
    }
  }

  .steps {
    display: flex;
    justify-content: space-between;
    p {
      border: 1px solid grey;
      border-radius: 50%;
      padding: 5px 12px;
      background-color: rgb(182, 170, 170);
      color: white;
    }
    .active {
      background-color: rgb(58, 173, 74);
    }
  }

  .third-step {
    display: flex;
    align-items: center;

    img {
      padding-right: 10px;
      width: 30%;
    }
  }
}
