@import "~src/styles/app-colors";

.home-container {
  .modal {
    position: fixed;
    z-index: 5;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);

    .modal-content {
      position: relative;
      background-color: #fefefe;
      margin: auto;
      padding: 20px;
      border: 1px solid #888;
      width: 50%;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);

      @media only screen and (max-width: 600px) {
        width: 100%;
      }

      .modal-header {
        display: flex;
        justify-content: space-between;
        .close-btn {
          cursor: pointer;
          font-weight: 700;
        }
        .close-btn:hover {
          color: rgb(168, 30, 30);
        }
      }
    }
  }

  .sections-wrapper {
    background: rgb(202, 233, 255);
    background: linear-gradient(
      52deg,
      rgba(202, 233, 255, 1) 35%,
      rgba(98, 182, 203, 1) 100%
    );
    padding: 30px;
    .section-one {
      display: flex;
      justify-content: space-between;
      margin-bottom: 60px;
      .intro-img {
        display: flex;
        justify-content: center;
        img {
          width: 604px;
          height: 300px;

          @media only screen and (max-width: 600px) {
            width: 300px;
            height: 130px;
          }
        }
      }

      .actions-btn {
        cursor: pointer;
        background-color: $button-color;
        border-radius: 5px;
        border: 0px;
        padding: 5px 10px;
        color: white;
      }

      .actions button:first-child {
        margin-right: 20px;
      }
    }

    .section-two {
      // background-color: $base-color;

      .advantages {
        img {
          width: 200px;
          height: 130px;
        }
      }
    }
  }
}
