<div class="home-container">
  <div *ngIf="showModalLogin"
       class="modal">
    <div class="modal-content">
      <div class="modal-header">
        <h2>Profile information</h2>
        <p class="close-btn"
           (click)="onClickCloseLogin()">X</p>
      </div>
      <app-login (isSubmitted)="onClickCloseLogin($event)"></app-login>
    </div>
  </div>

  <div *ngIf="showModalApplication"
       class="modal">
    <div class="modal-content">
      <div class="modal-header">
        <h2>Application form</h2>
        <p class="close-btn"
           (click)="onClickCloseApplication()">X</p>
      </div>
      <app-application (isSubmitted)="onClickCloseApplication($event)"></app-application>
    </div>
  </div>

  <div class="sections-wrapper">
    <section nz-row
             class="section-one"
             [nzGutter]="{ xs: 8, sm: 16, md: 32}">
      <div class="intro"
           nz-col
           nzXs="24"
           nzSm="24"
           nzMd="8">
        <h1>{{companyIntro.title}}</h1>
        <p>{{companyIntro.description}}</p>
        <div class="actions">
          <button class="actions-btn"
                  (click)="onClickLogin()">Login</button>
          <button class="actions-btn"
                  (click)="onClickApplication()">Apply now</button>
        </div>
      </div>
      <div class="intro-img"
           nz-col
           nzXs="24"
           nzSm="24"
           nzMd="16">
        <img src="./assets/affiliate-images/earnings.jpg">
      </div>
    </section>

    <section nz-row
             class="section-two"
             [nzGutter]="{ xs: 8, sm: 16, md: 32}">
      <div class="advantages"
           *ngFor="let advantage of companyIntro.advantages"
           nz-col
           nzXs="24"
           nzSm="24"
           nzMd="6">
        <img [src]="advantage.img">
        <h3>{{advantage.title}}</h3>
        <p>{{advantage.description}}</p>
      </div>
    </section>
  </div>
</div>
