<main class="affiliates-container"
      nz-row>
  <div class="affiliates-info"
       nz-col
       nzXs="24"
       nzSm="24"
       nzMd="8">
    <nz-descriptions nzTitle="Affiliates"
                     nzBordered>
      <nz-descriptions-item nzTitle="Total">{{this.affiliates.length}}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="New">2</nz-descriptions-item>
    </nz-descriptions>
  </div>

  <div class="users"
       nz-col
       nzXs="24"
       nzSm="24"
       nzMd="8">
    <nz-descriptions nzTitle="Users"
                     nzBordered>
      <nz-descriptions-item nzTitle="New">50</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Refused">5</nz-descriptions-item>
    </nz-descriptions>
  </div>

  <div class="profits"
       nz-col
       nzXs="24"
       nzSm="24"
       nzMd="8">
    <nz-descriptions nzTitle="Profits"
                     nzBordered>
      <nz-descriptions-item nzTitle="Total amount of all commissions">2400.00 $</nz-descriptions-item>
    </nz-descriptions>
  </div>
</main>
