<div class="dashboard-container">
  <div class="affilates">
    <app-affiliates [affiliates]="this.mockAffilates"></app-affiliates>
  </div>
  <div class="affilates-table">
    <app-affiliates-table [affiliates]="this.mockAffilates"></app-affiliates-table>
  </div>
  <div class="user-comments">
    <app-user-comments [userComments]="this.mockUserComments"></app-user-comments>
  </div>
</div>
