<div class="root-container">
  <app-header></app-header>
  <nav class="nav">
    <app-nav-menu [loggedAdmin]="this.adminInfo"></app-nav-menu>
  </nav>
  <main class="main">
    <router-outlet></router-outlet>
  </main>
  <nz-divider></nz-divider>
  <app-footer class="app-footer"
              [hostingServices]="this.hostingServices"
              [additionalServices]="this.additionalServices"
              [appHosting]="this.appHosting"
              [customerInfo]="this.customerSupport">
  </app-footer>
</div>
