@import "~src/styles/app-colors";

.root-container {
  .nav {
    position: absolute;
    top: 86px;

    @media only screen and (max-width: 600px) {
      position: initial;
    }
  }

  .main {
    margin: 10px 30px 30px 230px;

    @media only screen and (max-width: 600px) {
      margin: 30px 30px 20px 30px;
    }

    @media only screen and (min-width: 600px) and (max-width: 1024px) {
      margin: 240px 0px;
    }
  }
}
